<div class="modal fade" id="goToChat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_open({
                class: 'go-to-chat',
                id: 'loginForm'
            }) }}
            <input class="form-control" type="email" name="email" placeholder="Please enter your email" required>
            <input class="form-control" type="text" name="username" placeholder="Please enter your nickname" required>
            <button type="submit" class="btn btn-red btn-modal">Go to chat</button>
            {{ form_close() }}
        </div>
    </div>
</div>