<div class="modal fade" id="rules" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-rules" role="document">
      <div class="modal-content">
        <div class="modal-content-wrap">
          <div class="rules-comntent">
            <img class="img-fluid" src="{{ 'assets/images/modal/1.jpg'|theme }}" alt="rules">
            <img class="img-fluid" src="{{ 'assets/images/modal/2.jpg'|theme }}" alt="rules">
            <img class="img-fluid" src="{{ 'assets/images/modal/3.jpg'|theme }}" alt="rules">
          </div>
          <button class="btn btn-red go-live-stream" id="close-rules">
            Go to live stream
          </button>
        </div
      </div>
  </div>
</div>